@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px !important;
}
::-webkit-scrollbar-track {
   background-color: #f1f1f1 !important;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 10px !important;
    cursor: pointer !important;
}